.banner {
    position: relative;
}

.banner img {
    width: 100vw;
}

.banner h2 {
    font-size: 2rem;
    font-weight: 500;
}

.banner h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

.banner-texto {
    position: absolute;
    top: 35px;
    right: 2px;
    width: 190px;
    color: black;
}

.banner-texto>div:first-of-type {
    line-height: 2.6rem;
}

.banner-texto strong {
    border-bottom: 2px solid red;
}

.social-nav {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.social-nav button {
    padding: 10px;
    border: transparent;
    background: rgba(250, 250, 250, 0.5);
    border-radius: 5px;
}

.social-nav nav {
    display: flex;
    gap: 10px;
}

.social-nav img {
    width: 20px;
    margin-top: 5px;
}

.sobre-mim {
    background-color: aliceblue;
    color: black;
}

.sobre-mim .center {
    flex-direction: column;
}

.sobre-mim h2 {
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid red;
}

.sobre-mim p {
    padding: 15px;
}

.sobre-mim img {
    width: 50vw;
}

.sobre-mim li img {
    width: 40px;
}

.sobre-mim ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
}